<header class="bg-light">
    <form method="get">
        <div class="input-group m-lg-auto " style="width: 15%">
            <input name="search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    </form>
    <p class="row text-bg-danger text-center">
        <a class="" href="/" style="color: inherit">{{ Result }}</a>
    </p>
    <hr>
</header>